body {
    background: #d8d5d5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}
.post {
    display: block;
    background: white;
    background-position: center;
    background-size: 50px;
    margin: auto;
    text-align: left;
    justify-content:space-between;
    margin-top:10px;
}
.post img{
    width: 450px;
    height: 500px;
}
.post p{
    text-align: justify;
    padding: 10px;
    
}
.feed-container {
     width: 450px;
    height: 500px;
}
.header-row {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}